POSTGRES_PASSWORD=GENERATED
LEDGER_OWNER_PASSWORD=GENERATED
LEDGER_APP_PASSWORD=GENERATED
MONITOR_DB_PASSWORD=GENERATED
AUTH_DB_PASSWORD=GENERATED
EXTBANK_DB_PASSWORD=GENERATED
EXTBANK_API_KEY=GENERATED
TALLY_CLIENT_SERVICE_DESK_ID=tally-service-desk
TALLY_CLIENT_SERVICE_DESK_SECRET=GENERATED
TALLY_CLIENT_OPERATOR_ID=tally-operator
TALLY_CLIENT_OPERATOR_SECRET=GENERATED
TALLY_CLIENT_ADMIN_ID=tally-admin
TALLY_CLIENT_ADMIN_SECRET=GENERATED
TALLY_CLIENT_AUDITOR_ID=tally-auditor
TALLY_CLIENT_AUDITOR_SECRET=GENERATED
TALLY_CLIENT_COMPLIANCE_ID=tally-compliance
TALLY_CLIENT_COMPLIANCE_SECRET=GENERATED
TALLY_LEDGER_STRATEGY=pessimistic
